{{block "clace_body" .}}
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.14.0/mvp.css">

    {{block "du_table_block" .}}
        <div id="du_table">
            <h3> Disk usage for child directories of {{.Data.Parent}} </h3>
            <em>{{.Data.Error}}</em>
            <p>Click on a directory to expand its children</p>

            <table >
                <thead>
                    <th>Name</th>
                    <th>Size (MB)</th>
                </thead>
                {{ range .Data.Dirs }}
                    <tr style='cursor: pointer;' hx-target="#du_table" hx-push-url="true" hx-get="{{$.Path}}?dir={{.Dir}}" >
                        <td>{{ .Dir }}</td>
                        <td>{{ .Size }}</td>
                    </tr>
                {{ end }}

            </table>
        </div>
    {{end}}
{{end}}