{{ template "header" . }}

{{ if .dev }}
  <script src="{{ astatic "astatic/sse.js" }}"></script>
{{ end }}

{{ if .dev }}
  <div
    id="cl_reload_listener"
    hx-ext="sse"
    sse-connect="{{ .appPath }}/_clace_app/sse"
    sse-swap="clace_reload"
    hx-trigger="sse:clace_reload"></div>
  <script>
    document
      .getElementById("cl_reload_listener")
      .addEventListener("sse:clace_reload", function (event) {
        location.reload();
      });
  </script>
{{ end }}


<script>
  document.body.addEventListener("htmx:sendError", function (event) {
    ActionMessage.innerText = "API call failed: Server is not reachable";
  });
  document.body.addEventListener("htmx:responseError", function (event) {
    ActionMessage.innerText =
      "API call failed: " + event.detail.xhr.responseText;
  });
</script>

<div class="w-full flex flex-col justify-center items-center">
  <div class="max-w-xl mx-auto">
    <div class="p-2 flex justify-between items-center">
      <div>
        {{ if and (.links) (gt (len .links) 0) }}
          <div class="dropdown dropdown-bottom" title="Switch between Actions">
            <div tabindex="0" role="button" class="btn btn-outline">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
              </svg>
            </div>

            {{ block "dropdown" . }}
              <ul
                id="dropdown-menu"
                hx-swap-oob="true"
                hx-swap="outerHTML"
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                {{ range .links }}
                  <li><a href="{{ .Path }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
        {{ end }}
      </div>

      <div class="text-center text-3xl font-light text-primary justify-center">
        <a href="{{ .pagePath }}"> {{ .name }} </a>
      </div>

      <div class="justify-right pt-2">
        <label
          for="theme-toggle"
          class="swap swap-rotate"
          title="Switch between dark and light themes">
          <!-- This input checkbox will be hidden -->
          <input id="theme-toggle" class="hidden" type="checkbox" />

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="theme-dark swap-on fill-current w-5 h-5"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M12 5l0 -2" />
            <path d="M17 7l1.4 -1.4" />
            <path d="M19 12l2 0" />
            <path d="M17 17l1.4 1.4" />
            <path d="M12 19l0 2" />
            <path d="M7 17l-1.4 1.4" />
            <path d="M6 12l-2 0" />
            <path d="M7 7l-1.4 -1.4" />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="theme-light swap-off fill-current w-5 h-5"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
          </svg>
        </label>
      </div>
    </div>

    <p class="text-center my-4">
      {{ .description }}
    </p>
    <form
      method="post"
      role="form"
      id="action_form"
      {{ if .hasFileUpload }}
        enctype="multipart/form-data" hx-encoding="multipart/form-data"
      {{ end }}>
      {{ range .params }}
        <div class="grid grid-cols-2 mb-1 items-center">
          <label
            class="label flex-col items-start px-2"
            for="param_{{ .Name }}">
            <span class="label-text font-bold">{{ .Name }}</span>
            <span class="label-text text-xs md:text-sm text-gray-500"
              >{{ .Description }}
            </span>
          </label>

          <div id="param_{{ .Name }}_div">
            {{ block "param_input_div" . }}
              {{ if eq .InputType "checkbox" }}
                <div class="flex justify-center">
                  <input
                    id="param_{{ .Name }}"
                    name="{{ .Name }}"
                    type="checkbox"
                    value="true"
                    class="checkbox checkbox-primary justify-self-center"
                    {{ .Value }} />
                  <div class="pl-4">
                    <div
                      id="param_{{ .Name }}_error"
                      aria-live="assertive"
                      aria-atomic="true"
                      class="text-error mt-1"></div>
                  </div>
                </div>
              {{ else if eq .InputType "select" }}
                <div>
                  <select
                    id="param_{{ .Name }}"
                    class="select select-bordered w-full"
                    name="{{ .Name }}">
                    {{ $sel := .Value }}
                    {{ range .Options }}
                      <option
                        value="{{ . }}"
                        {{ if eq $sel . }}selected{{ end }}>
                        {{ . }}
                      </option>
                    {{ end }}
                  </select>
                  <div
                    id="param_{{ .Name }}_error"
                    aria-live="assertive"
                    aria-atomic="true"
                    class="text-error mt-1"></div>
                </div>
              {{ else }}
                <div>
                  {{ if eq .DisplayType "textarea" }}
                    <textarea
                      id="param_{{ .Name }}"
                      name="{{ .Name }}"
                      class="textarea textarea-primary w-full"
                      {{ if .DisplayTypeOptions }}
                        rows="{{ .DisplayTypeOptions }}"
                      {{ end }}>
 {{- .Value -}}</textarea
                    >
                  {{ else if eq .DisplayType "password" }}
                    <input
                      id="param_{{ .Name }}"
                      name="{{ .Name }}"
                      type="password"
                      class="input input-bordered w-full"
                      value="{{ .Value }}" />
                  {{ else if eq .DisplayType "file" }}
                    <input
                      id="param_{{ .Name }}"
                      name="{{ .Name }}"
                      type="file"
                      {{ if .DisplayTypeOptions }}
                        accept="{{ .DisplayTypeOptions }}"
                      {{ end }}
                      class="file-input file-input-primary w-full"
                      value="{{ .Value }}" />
                  {{ else }}
                    <input
                      id="param_{{ .Name }}"
                      name="{{ .Name }}"
                      type="{{ .DisplayType }}"
                      class="input input-bordered w-full"
                      value="{{ .Value }}" />
                  {{ end }}
                  <output
                    id="param_{{ .Name }}_error"
                    aria-live="assertive"
                    aria-atomic="true"
                    class="text-error mt-1"></output>
                </div>
              {{ end }}
              <!-- param_input_div block -->
            {{ end }}
          </div>
        </div>
      {{ end }}


      <!-- Submit Button -->
      <div class="flex space-x-2">
        {{ if .showSuggest }}
          <div class="form-control mt-4 flex-grow ">
            <button
              type="submit"
              hx-post="{{ .pagePath }}/suggest"
              hx-target="#ActionMessage"
              hx-swap="innerHTML swap:80ms"
              hx-indicator="#ActionIndicator"
              class="btn btn-primary w-full">
              Suggest
            </button>
          </div>
        {{ end }}

        {{ if .showValidate }}
          <div class="form-control mt-4 flex-grow ">
            <button
              type="submit"
              hx-post="{{ .pagePath }}/validate"
              hx-target="#ActionMessage"
              hx-swap="innerHTML swap:80ms"
              hx-indicator="#ActionIndicator"
              class="btn btn-primary w-full">
              Validate
            </button>
          </div>
        {{ end }}


        <div class="form-control mt-4 flex-grow ">
          <button
            type="submit"
            autofocus
            hx-post="{{ .pagePath }}"
            hx-target="#ActionMessage"
            hx-swap="innerHTML swap:80ms"
            hx-indicator="#ActionIndicator"
            class="btn btn-primary w-full">
            Run
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="pt-1 flex justify-center items-center">
  <img
    id="ActionIndicator"
    alt="Loading..."
    class="htmx-indicator"
    role="presentation"
    src="{{ astatic "astatic/spinner.svg" }}" />
</div>
<output
  id="ActionMessage"
  aria-live="assertive"
  aria-atomic="true"
  class="pt-1 text-center"></output>

<div class="pt-1 card w-full shadow-2xl rounded-lg">
  <output id="action_result" aria-live="assertive" aria-atomic="true">
    <span></span>
  </output>
</div>

{{ template "footer" . }}
