{{ define "header" }}
  <!DOCTYPE html>
  <html data-theme="emerald" lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{.name}}</title>

      <script>
            const theme = localStorage.getItem('theme');
            const systemDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches 
            localStorage.setItem('theme-dark', {{ .darkTheme }});
            localStorage.setItem('theme-light', {{ .lightTheme }});
            if (theme == 'dark' || (theme == null && systemDark)) {
                document.documentElement.setAttribute("data-theme", {{ .darkTheme }})
            } else {
                document.documentElement.setAttribute("data-theme", {{ .lightTheme }})
            }
      </script> 

      {{ template "imports" . }}
    </head>

    <!-- Full screen container -->
    <body>
      <div class="">


{{ end }} <!-- End of "header" block -->


{{ define "footer" }}
        </div>

    </body>
  </html>
{{ end }}


{{ block "imports" . }}
  {{ if and (eq .styleType "daisyui") (fileNonEmpty "static/gen/css/style.css") }}
    <link rel="stylesheet" href="{{ static "static/gen/css/style.css" }}" />
  {{ else }}
    <link rel="stylesheet" href="{{ astatic "astatic/style.css" }}" />
  {{ end }}
  <link rel="stylesheet" href="{{ astatic "astatic/json.css" }}" />
  <script src="{{ astatic "astatic/json.js" }}"></script>
  <script src="{{ astatic "astatic/toggle.js" }}"></script>
  <script src="{{ astatic "astatic/htmx.min.js" }}"></script>

  {{ if gt (len .jsLibs) 0 }}
  <script type="importmap">
  {
    "imports": {
     {{ range $i, $lib := .jsLibs }}
     {{ $libPath :=  printf "%s%s" "gen/esm/" $lib.SanitizedFileName }}
     "{{ $lib.PackageName }}": "{{ static $libPath}}"
     {{ if not (eq $i (sub (len $.jsLibs) 1)) }},{{end}}
     {{ end }}
    }
  }
  </script>

  {{end}}

{{ end -}}