{{ block "clace_gen_import" . }}
  <!-- Include the generated style file if present -->
  {{ if fileNonEmpty "gen/css/style.css" }}
    <link rel="stylesheet" href="{{ static "gen/css/style.css" }}" />
  {{ end }}


  <!-- Include the custom style file if present -->
  {{ if fileNonEmpty "css/style.css" }}
    <link rel="stylesheet" href="{{ static "css/style.css" }}" />
  {{ end }}

  {{ if fileNonEmpty "gen/lib/htmx.min.js" }}
    <script src="{{ static "gen/lib/htmx.min.js" }}"></script>
  {{ end }}
  {{ if or .IsDev .AutoReload .PushEvents }}
    {{ if fileNonEmpty "gen/lib/sse.js" }}
      <script src="{{ static "gen/lib/sse.js" }}"></script>
    {{ end }}
  {{ end }}

  {{ if or .IsDev .AutoReload }}
    <div
      id="cl_reload_listener"
      hx-ext="sse"
      sse-connect="{{ .AppPath }}/_clace_app/sse"
      sse-swap="clace_reload"
      hx-trigger="sse:clace_reload"></div>
    <script>
      document
        .getElementById("cl_reload_listener")
        .addEventListener("sse:clace_reload", function (event) {
          location.reload();
        });
    </script>
  {{ end }}
{{ end -}}
